#buttonGroup a {
    position: absolute;
    left: -2vw;
    width : 2.5vw;
    transition: all 0.3s ease;
    padding:  0.4vw ;
    text-decoration: none;
    font-size: 1.3vw;
    color: white;
    border-radius: 0 5px 5px 0;
    text-align: center;
    z-index: 1;
}
  
#buttonGroup a:hover {
    left: 0;
}
  
#info {
    top: 1vw;
    background-color: #2196F3;
}
  
#manual {
    top: 4vw;
    background-color: #04AA6D;
}