@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  font-family: 'Poppins', sans-serif;
   -webkit-user-drag: none;
   user-select: none;
}

#tracklight1{
  position: absolute;
  top: 4.66vw;
  left: 43.8vw;
  height: 26%;
  width: 15%;
}

#tracklight2{
  position: absolute;
  top: 4.65vw;
  left: 57.11vw;
  height: 26.5%;
  width: 15%;
}

#tracklight3{
  position: absolute;
  top: 0.7vw;
  left: 57.1vw;
  height: 26.5%;
  width: 15%;
}

#train {
  position: absolute; 
  width: 10%;
  /* height: 15%; */
  height: auto;
  z-index: 99;
  visibility: visible;
  transition-duration: 0.8s;
  transition-timing-function: ease-in;
  transition-property : left transform top;
}

#upperHolder2ContainerA1, #upperHolder3ContainerC111, #upperHolder4ContainerC111, #upperHolder5ContainerAg5, #upperHolder6ContainerV6,
#lever1ContainerAuA, #lever2ContainerA1, #lever3ContainerC111, #lever4ContainerC111, #lever5ContainerAg5, #lever6ContainerV6{
  position: relative;
  margin: 0;
  padding: 0;
}

#upperL6Key5 {
  top: 6.5vw;
  left: 7.3vw;
}

/* .upperL6Key5-initial {
  top: 2.5vw;
  left: 7.2vw;
}

.upperL6Key5-changed {
  top: 2.35vw;
  left: 6.75vw;
} */

#lowerL6Key6N {
  top: 6.9vw;
  left: 7.6vw;
}

/* .lowerL6Key6N-initial {
  top: 2.6vw;
  left: 7.05vw;
}

.lowerL6Key6N-changed {
  top: 2.5vw;
  left: 6.6vw;
} */

#upperL5Key5 {
  top: 5.9vw;
  left: 2.6vw;
}

/* .upperL5Key5-initial {
  top: 2.6vw;
  left: 5.5vw;
}

.upperL5Key5-changed {
  top: 2.45vw;
  left: 5.1vw;
} */

#upperL5Key5N {
  top: 6vw;
  left: 7.9vw;
}

/* .upperL5Key5N-initial {
  top: 2.6vw;
  left: 8.65vw;
}

.upperL5Key5N-changed {
  top: 2.45vw;
  left: 8.1vw;
} */

#lowerL5Key5 {
  top: 7.1vw;
  left: 2.7vw;
}

/* .lowerL5Key5-initial {
  top: 2.6vw;
  left: 5.5vw;
}

.lowerL5Key5-changed {
  top: 2.4vw;
  left: 5.1vw;
} */

#lowerL5Key5R {
  top: 7.1vw;
  left: 7.8vw;
}

/* .lowerL5Key5R-initial {
  top: 2.6vw;
  left: 8.65vw;
}

.lowerL5Key5R-changed {
  top: 2.4vw;
  left: 8.1vw;
} */

#upperL4KeyAN {
  top: 7.4vw;
  left: 7.4vw;
}

/* .upperL4KeyAN-initial {
  top: 2.55vw;
  left: 7.1vw;
}

.upperL4KeyAN-changed {
  top: 2.4vw;
  left: 6.6vw;
} */

#lowerL4Key5N {
  top: 7vw;
  left: 2.7vw;
}

/* .lowerL4Key5N-initial {
  top: 2.6vw;
  left: 5.5vw;
}

.lowerL4Key5N-changed {
  top: 2.45vw;
  left: 5.1vw;
} */

#lowerL4Key6N {
  top: 7vw;
  left: 7.7vw;
}

/* .lowerL4Key6N-initial {
  top: 2.6vw;
  left: 8.65vw;
}

.lowerL4Key6N-changed {
  top: 2.45vw;
  left: 8.15vw;
} */

#upperL3KeyAN {
  top: 7.5vw;
  left: 7.4vw;
}

/* .upperL3KeyAN-initial {
  top: 2.6vw;
  left: 7.1vw;
}

.upperL3KeyAN-changed {
  top: 2.4vw;
  left: 6.6vw;
} */

#lowerL3Key5R {
  top: 7vw;
  left: 2.6vw;
}

/* .lowerL3Key5R-initial {
  top: 2.6vw;
  left: 5.5vw;
}

.lowerL3Key5R-changed {
  top: 2.4vw;
  left: 5.15vw;
} */

#lowerL3Key6N {
  top: 7vw;
  left: 7.7vw;
}

/* .lowerL3Key6N-initial {
  top: 2.6vw;
  left: 8.65vw;
}

.lowerL3Key6N-changed {
  top: 2.4vw;
  left: 8.15vw;
} */

#lowerL2KeyAN {
  top: 7.8vw;
  left: 7.6vw;
}

/* .lowerL2KeyAN-initial {
  top: 2.6vw;
  left: 7.1vw;
}

.lowerL2KeyAN-changed {
  top: 2.4vw;
  left: 6.65vw;
} */

.track-base {
  height: 12.25vw;
  width: auto;
  position: relative;
  margin: 0;
  padding: 0;
}

#straight {
  position: relative;
  display: block;
  height: 2.65vw;
  width: 44vw;
  top: 4.8vw;
  left: 0vw;
}

#split {
  position: absolute;
  top: 1.82vw;
  left: 44.25vw;
  height: 38%;
  width: 30%;
}

#up {
  position: absolute;
  top: 1.15vw;
  left: 57.75vw;
  height: 16%;
  width: 60%;
}

#down {
  position: absolute;
  top: 5.08vw;
  left: 57.75vw;
  height: 16%;
  width: 60%;
}

#led-a1 {
  position: absolute;
  top: 2.9vw;
  left: 16vw;
  height: auto;
  width: 10%;
}

#led-111 {
  position: absolute;
  top: 3.56vw;
  left: 41.15vw;
  height: auto;
  width: 8%;
}

#led-5v6 {
  position: absolute;
  top: 3.2vw;
  left: 50.8vw;
  height: auto;
  width: 9%;
}

#led-25_4 {
  position: absolute;
  top: 0.2vw;
  left: 74.70vw;
  height: auto;
  width: 3.80%;
}

#led-25_5 {
  position: absolute;
  top: 3.15vw;
  left: 73vw;
  height: auto;
  width: 11.2%;
}

#led-zap {
  position: absolute;
  top: 3.30vw;
  left: 38.65vw;
  height: auto;
  width: 9%;
}

#led-annonce {
  position: absolute;
  top: 0.20vw;
  left: 10.4vw;
  height: auto;
  width: 10%;
}

#led-awa {
  position: absolute;
  top: 0.8vw;
  left: 29.80vw;
  height: auto;
  width: 8%;
}

#start {
  position: absolute;
  font-weight: 500;
  font-size: 1vw;
  color: white;
  letter-spacing: 0.15vw;
  top: 4.5vw;
  left: 0.25vw;
}

#end {
  position: absolute;
  font-weight: 200;
  font-size: 0.9vw;
  color: white;
  letter-spacing: 1px;
  top: 2.65vw;
  left: 80vw;
}

#label-a1, #label-zap, #label-111, #label-5v6, #label-annonce, #label-awa {
  position: absolute;
  font-weight: 400;
  font-size: 0.75vw;
  color: white;
  letter-spacing: 1px;
}

#label-a1 {
  top: 2.4vw;
  left: 18.7vw;
}

#label-zap {
  font-size: 0.75vw;
  font-weight: 200;
  top: 3.15vw;
  left: 39.90vw;
}

#label-111 {
  font-size: 0.75vw;
  font-weight: 200;
  top: 3.18vw;
  left: 42.45vw;
  letter-spacing: 0.2vw;
}

#label-5v6 {
  font-size: 0.65vw;
  font-weight: 300;
  top: 4vw;
  left: 53.8vw;
  letter-spacing: 1px;
  color: goldenrod;
}

#label-annonce {
  top: 0vw;
  left: 10.80vw;
}

#label-awa {
  top: 0.5vw;
  left: 30.8vw;
}

#switch-z9, #switch-z11, #switch-z13, #switch-z15, #switch-z17, #switch-25_4, #switch-25_5{
  position: absolute;
  top: 9vw;
  height: auto;
  width: 4%;
}

#switch-z9{
  left: 29.9vw;
}

#switch-z11{
  left: 36vw;
}

#switch-z13{
  left: 42vw;
}

#switch-z15{
  left: 48vw;
}

#switch-z17{
  left: 54vw;
}

#switch-25_4{
  left: 60vw;
}

#switch-25_5{
  left: 66vw;
}

#label-bp_an {
  position: absolute;
  font-size: 0.8vw;
  color: white;
  font-weight: 300;
  top: 7.25vw;
  left: 23vw;
}

#line-0 {
  position: absolute;
  height: 1px;
  width: 1.5vw;
  top: 9vw;
  left: 23.4vw;
  background: white;
}

#Bp_An {
  position: absolute;
  top: 9.25vw;
  left: 23.55vw;
  height: auto;
  width: 1.25vw;
}

#label-occupee_1, #label-occupee_2, #label-occupee_3, #label-occupee_4, #label-occupee_5, #label-occupee_6, #label-occupee_7{
  position: absolute;
  font-size: 0.75vw;
  font-weight: 300;
  top: 10.3vw;
  letter-spacing: 1px;
  color: white;
}

#label-occupee_1{
  left: 29.4vw;
}

#label-occupee_2{
  left: 35.4vw;
}

#label-occupee_3{
  left: 41.4vw;
}

#label-occupee_4{
  left: 47.4vw;
}

#label-occupee_5{
  left: 53.4vw;
}

#label-occupee_6{
  left: 59.4vw;
}

#label-occupee_7{
  left: 65.4vw;
}

#label-libre_1, #label-libre_2, #label-libre_3, #label-libre_4, #label-libre_5{
  position: absolute;
  font-size: 0.8vw;
  font-weight: 300;
  top: 7.40vw;
  letter-spacing: 1px;
  color: white;
}

#label-libre_1{
  left: 29.80vw;
}

#label-libre_2{
  left: 35.90vw;
}

#label-libre_3{
  left: 41.90vw;
}

#label-libre_4{
  left: 47.90vw;
}

#label-libre_5{
  left: 53.90vw;
}

#line-1, #line-2, #line-3, #line-4, #line-5 {
  position: absolute;
  height: 1px;
  width: 1.2vw;
  top: 7.80vw;
  background: rgb(255, 255, 255);

}

#line-1{
  left: 30.1vw;
}

#line-2{
  left: 36.25vw;
}

#line-3{
  left: 42.25vw;
}

#line-4{
  left: 48.25vw;
}

#line-5{
  left: 54.25vw;
}

#label-z9, #label-z11, #label-z13, #label-z15, #label-z17{
  position: absolute;
  font-size: 0.8vw;
  font-weight: 300;
  top: 6.25vw;
  letter-spacing: 1px;
  color: white;
}

#label-z9{
  left: 30.18vw;
}

#label-z11{
  left: 36.18vw;
}

#label-z13{
  left: 42.18vw;
}

#label-z15{
  left: 48.18vw;
}

#label-z17{
  left: 54.18vw;
}

#label-25_4, #label-25_5{
  position: absolute;
  font-size: 0.8vw;
  font-weight: 300;
  top: 7.30vw;
  letter-spacing: 1px;
  color: white;
}

#label-25_4{
  left: 60.45vw;
}

#label-25_5{
  left: 66.45vw;
}

#sidebarTrack {
  position: absolute;
  left: 1.5vw;
  width: 12vw;
  height: 34vw;
}

#sidebarSplit {
  position: absolute;
  top: 5.75vw;
  left: 5.6vw;
  width: 6.25vw;
  height: auto;
  transition: ease-in 0.8s;
}

#upperL7KeyHolder5 {
  position: absolute;
  width: 8vw;
  height: auto;
  top: 35vw;
  left: 3.55vw;
}

#upperL7Key5 {
  top: 40.80vw;
  left: 7.1vw;
}

.dragEnabled {
  -webkit-user-drag: auto;
}


#curly_brace{
  position: absolute;
  top: 12.25vw;
  left: 30vw;
  width: 17%;
  height: 22%;
}

#label-brace{
  position: absolute;
  font-size: 0.8vw;
  font-weight: 300;
  top: 14vw;
  left: 32.2vw;
  letter-spacing: 1px;
  color: white;
}

#upperL3KeyAN, #upperL4KeyAN, #upperL6Key5, #upperL5Key5N, #upperL5Key5, #upperL6Key5, #upperL7Key5,
#lowerL2KeyAN, #lowerL3Key5R, #lowerL4Key6N, #lowerL4Key5N, #lowerL5Key5R, #lowerL5Key5, #lowerL3Key6N, #lowerL6Key6N {
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-property : transform;
  position: absolute;
  width: 33%;
  height: auto;
}

.customWidth1{
  width: 110%;
  height: 100;
}

#label-z_13,#label-z_15,#label-z_17{
  position: absolute;
  font-size: 0.75vw;;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
}

#label-z_13
{
  top: 4.2vw;
  left: 46.35vw;
}

#label-z_15
{
  top: 4.2vw;
  left: 59.65vw;
}

#label-z_17
{
  top: 0.2vw;
  left: 59.65vw;
}