@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  font-family: 'Poppins', sans-serif;
   -webkit-user-drag: none;
   user-select: none;
}

#tracklight1{
  position: absolute;
  top: 6vw;
  left: 47.5vw;
  height: auto;
  width: 2.5%;
}

#tracklight2{
  position: absolute;
  top: 6vw;
  left: 66.5vw;
  height: auto;
  width: 2.5%;
}

#tracklight3{
  position: absolute;
  top: 1.5vw;
  left: 66.5vw;
  height: auto;
  width: 2.5%;
}

/*#train {
  position: absolute; 
  width: 20%;
  *//* height: 15%; *//*
  height: 20%;
  z-index: 99;
  visibility: hidden;
  transition-duration: 0.8s;
  transition-timing-function: ease-in;
  transition-property : left transform top;
}*/

#upperHolder2ContainerA1, #upperHolder3ContainerC111, #upperHolder4ContainerC111, #upperHolder5ContainerAg5, #upperHolder6ContainerV6,
#lever1ContainerAuA, #lever2ContainerA1, #lever3ContainerC111, #lever4ContainerC111, #lever5ContainerAg5, #lever6ContainerV6{
  position: relative;
  margin: 0;
  padding: 0;
}

#upperL6Key5 {
  top: 5.4vw;
  left: 8.8vw;
}

/* .upperL6Key5-initial {
  top: 2.5vw;
  left: 7.2vw;
}

.upperL6Key5-changed {
  top: 2.35vw;
  left: 6.75vw;
} */

#lowerL6Key6N {
  top: 5.6vw;
  left: 9vw;
}

/* .lowerL6Key6N-initial {
  top: 2.6vw;
  left: 7.05vw;
}

.lowerL6Key6N-changed {
  top: 2.5vw;
  left: 6.6vw;
} */

#upperL5Key5 {
  top: 4.5vw;
  left: 4vw;
}

/* .upperL5Key5-initial {
  top: 2.6vw;
  left: 5.5vw;
}

.upperL5Key5-changed {
  top: 2.45vw;
  left: 5.1vw;
} */

#upperL5Key5N {
  top: 4.4vw;
  left: 9vw;
}

/* .upperL5Key5N-initial {
  top: 2.6vw;
  left: 8.65vw;
}

.upperL5Key5N-changed {
  top: 2.45vw;
  left: 8.1vw;
} */

#lowerL5Key5 {
  top: 5.7vw;
  left: 4.1vw;
}

/* .lowerL5Key5-initial {
  top: 2.6vw;
  left: 5.5vw;
}

.lowerL5Key5-changed {
  top: 2.4vw;
  left: 5.1vw;
} */

#lowerL5Key5R {
  top: 5.7vw;
  left: 9.2vw;
}

/* .lowerL5Key5R-initial {
  top: 2.6vw;
  left: 8.65vw;
}

.lowerL5Key5R-changed {
  top: 2.4vw;
  left: 8.1vw;
} */

#upperL4KeyAN {
  top: 6.2vw;
  left: 8.9vw;
}

/* .upperL4KeyAN-initial {
  top: 2.55vw;
  left: 7.1vw;
}

.upperL4KeyAN-changed {
  top: 2.4vw;
  left: 6.6vw;
} */

#lowerL4Key5N {
  top: 5.6vw;
  left: 4vw;
}

/* .lowerL4Key5N-initial {
  top: 2.6vw;
  left: 5.5vw;
}

.lowerL4Key5N-changed {
  top: 2.45vw;
  left: 5.1vw;
} */

#lowerL4Key6N {
  top: 5.5vw;
  left: 9.1vw;
}

/* .lowerL4Key6N-initial {
  top: 2.6vw;
  left: 8.65vw;
}

.lowerL4Key6N-changed {
  top: 2.45vw;
  left: 8.15vw;
} */

#upperL3KeyAN {
  top: 6.2vw;
  left: 9vw;
}

#emergencyControl:hover .scale{
  transform: scale(1.4);
  margin-left: 2.5vw;
}

/* .upperL3KeyAN-initial {
  top: 2.6vw;
  left: 7.1vw;
}

.upperL3KeyAN-changed {
  top: 2.4vw;
  left: 6.6vw;
} */

#lowerL3Key5R {
  top: 5.7vw;
  left: 4.1vw;
}

.modal {
  color: black;
  font-size: x-large;
}

.modal-content {
  background: #ff9800;
  /* background: #ffff00; */
}

.modal-header {
  border-bottom: 2px solid black;
}

.modal-header h4 {
  font-weight: bold;
}

.modal-footer {
  border-top: 1px solid transparent;
}


/* .lowerL3Key5R-initial {
  top: 2.6vw;
  left: 5.5vw;
}

.lowerL3Key5R-changed {
  top: 2.4vw;
  left: 5.15vw;
} */

#lowerL3Key6N {
  top: 5.7vw;
  left: 9.1vw;
}

/* .lowerL3Key6N-initial {
  top: 2.6vw;
  left: 8.65vw;
}

.lowerL3Key6N-changed {
  top: 2.4vw;
  left: 8.15vw;
} */

#lowerL2KeyAN {
  top: 6.3vw;
  left: 9vw;
}

/* .lowerL2KeyAN-initial {
  top: 2.6vw;
  left: 7.1vw;
}

.lowerL2KeyAN-changed {
  top: 2.4vw;
  left: 6.65vw;
} */

.track-base {
  height: 12.35vw;
  width: auto;
  position: relative;
  margin: 0;
  padding: 0;
}

#straight {
  position: relative;
  display: block;
  height: 10vw;
  width: 44vw;
  top: 1.40vw;
  left: 0vw;
}

#split {
  position: absolute;
  top: 2.33vw;
  left: 44vw;
  height: 5.7vw;
  width: 40vw;
  transform: translateY(-16%);
}
/* #split {
  position: absolute;
  top: 1.82vw;
  left: 44.25vw;
  height: 38%;
  width: 30%;
}

#up {
  position: absolute;
  top: 1.15vw;
  left: 57.75vw;
  height: 16%;
  width: 60%;
}

#down {
  position: absolute;
  top: 5.08vw;
  left: 57.75vw;
  height: 16%;
  width: 60%;
} */

#led-a1 {
  position: absolute;
  top: 4.77vw;
  left: 21vw;
  height: auto;
  width: 5%;
}

#led-111 {
  position: absolute;
  top: 5.35vw;
  left: 42.35vw;
  height: auto;
  width: 3.5%;
}

#led-5v6-3 {
  position: absolute;
  top: 5.5vw;
  left: 51.66vw;
  height: auto;
  width: 1.85%;
}

#led-5v6-1{
  position: absolute;
  top: 5.9vw;
    left: 52.2vw;
    height: auto;
    width: 1.85%;
}

#led-25_4 {
  position: absolute;
  top: 0.8vw;
  left: 74vw;
  height: 8%;
  width: auto;
}

#led-25_5 {
  position: absolute;
  top: 5.2vw;
  left: 74vw;
  height: 8%;
  width: auto;
}

#led-zap {
  position: absolute;
  top: 5.35vw;
  left: 40.5vw;
  height: auto;
  width: 2.5%;
}

#led-annonce {
  position: absolute;
  top: 1.75vw;
  left: 15vw;
  height: auto;
  width: 6%;
}

#led-Di {
  position: absolute;
  top: 1.75vw;
  left: 52vw;
  /* left: 16vw; */
  height: auto;
  width: 6%;
}
#led-Poste {
  position: absolute;
  top: 0.75vw;
  left: 46.7vw;
  height: auto;
  width: 6%;
}
#led-awa {
  position: absolute;
  top: 0.8vw;
  left: 29.80vw;
  height: auto;
  width: 8%;
}

/* #start {
  position: absolute;
  font-weight: 500;
  font-size: 1.80vw;
  color: white;
  letter-spacing: 0.15vw;
  top: 3.60vw;
  left: 0.25vw;
} */

#start {
  position: absolute;
  top: 4.6vw;
  left: 0.25vw;
  height: 1.25vw;
  width: auto;
}

/* #end {
  position: absolute;
  font-weight: 200;
  font-size: 1.20vw;
  color: white;
  letter-spacing: 0.20px;
  top: 2.20vw;
  left: 79.80vw;
} */

#end {
  position: absolute;
  top: 3.65vw;
  left: 77.6vw;
  height: 0.75vw;
  width: auto;
}

/* #label-a1, #label-zap, #label-111, #label-5v6, #label-annonce, #label-awa {
  position: absolute;
  font-weight: 600;
  font-size: 1vw;
  color: white;
  letter-spacing: 1px;
} */

#label-a1, #label-zap, #label-111, #label-5v6-3, #label-5v6-1, #label-annonce, #label-awa, #label-Di,#label-Poste {
  position: absolute;
  height: 0.75vw;
  width: auto;
}

#label-a1 {
  top: 3.75vw;
  left: 22vw;
}

#label-zap {
  height: 0.6vw;
  top: 4.6vw;
  left: 40.2vw;
}

#label-111 {
  top: 4.5vw;
  left: 43vw;
  letter-spacing: 0.2vw;
}

/* #label-5v6 {
  top: 4vw;
  left: 53.8vw;
  letter-spacing: 1px;
  color: goldenrod;
} */

#label-5v6-3 {
  top: 4.4vw;
  left: 50.5vw;
}

#label-5v6-1 {
  top: 7.3vw;
  left: 51.5vw;
}

#label-annonce {
  top: 0.5vw;
  left: 14.25vw;
}
#label-Di {
  top: 0.5vw;
  left: 52.80vw;
  width: 3%;
}
#label-Poste {
  top: 3.1vw;
  left: 46.9vw;
}

#label-awa {
  top: 0vw;
  left: 30.4vw;
}

#switch-z9, #switch-z11, #switch-z13, #switch-z15, #switch-z17, #switch-25_4, #switch-25_5{
  position: absolute;
  top: 8.75vw;
  height: auto;
  width: 2.5%;
}

#switch-z9{
  left: 29.1vw;
}

#switch-z11{
  left: 39.1vw;
}

#switch-z13{
  left: 48.6vw;
}

#switch-z15{
  left: 57.6vw;
}

#switch-z17{
  left: 65.9vw;
}

/* #switch-25_4{
  left: 62.6vw;
}

#switch-25_5{
  left: 70.1vw;
} */

#label-bp_an {
  position: absolute;
  top: 7.75vw;
  height: 1vw;
  width: auto;
  left: 15vw;
}

#refresh_button {
  position: absolute;
  top: 30.5vw;
  left: 7vw;
  width: 3vw;
  left: 3vw;
}

/* #label-bp_an {
  position: absolute;
  font-size: 1vw;
  color: white;
  font-weight: 500;
  top: 7vw;
  left: 22.80vw;
} */

#line-0 {
  position: absolute;
  height: 1px;
  width: 1.5vw;
  top: 9vw;
  left: 23.4vw;
  background: white;
}

#Bp_An {
  position: absolute;
  top: 9.25vw;
  left: 15.85vw;
  height: auto;
  width: 1.25vw;
  z-index: 5;
}

#label-occupee_1, #label-occupee_2, #label-occupee_3, #label-occupee_4, #label-occupee_5, #label-occupee_6, #label-occupee_7{
  position: absolute;
  top: 10.25vw;
  height: 0.9vw;
  width: auto;
}

/* #label-occupee_1, #label-occupee_2, #label-occupee_3, #label-occupee_4, #label-occupee_5, #label-occupee_6, #label-occupee_7{
  position: absolute;
  font-size: 1.20vw;
  font-weight: 400;
  top: 10vw;
  letter-spacing: 1px;
  color: white;
} */

#label-occupee_1{
  left: 28.15vw;
}

#label-occupee_2{
  left: 38.15vw;
}

#label-occupee_3{
  left: 47.55vw;
}

#label-occupee_4{
  left: 56.5vw;
}

#label-occupee_5{
  left: 64.75vw;
}

/* #label-occupee_6{
  height: 0.8vw;
  left: 61.75vw;
}

#label-occupee_7{
  height: 0.8vw;
  left: 69.5vw;
} */

#label-libre_1, #label-libre_2, #label-libre_3, #label-libre_4, #label-libre_5, #label-libre_6, #label-libre_7{
  position: absolute;
  top: 8vw;
  height: 0.6vw;
  width: auto;
}

/* #label-libre_1, #label-libre_2, #label-libre_3, #label-libre_4, #label-libre_5{
  position: absolute;
  font-size: 1.20vw;
  font-weight: 400;
  top: 7.18vw;
  letter-spacing: 1px;
  color: white;
} */

#label-libre_1{
  left: 28.75vw;
}

#label-libre_2{
  left: 38.75vw;
}

#label-libre_3{
  left: 48.3vw;
}

#label-libre_4{
  left: 57.25vw;
}

#label-libre_5{
  left: 65.5vw;
}

/* #label-libre_6{
  left: 61.65vw;
}

#label-libre_7{
  left: 69.25vw;
} */
/* #line-1, #line-2, #line-3, #line-4, #line-5 {
  position: absolute;
  height: 1px;
  width: 1.5vw;
  top: 7.80vw;
  background: rgb(255, 255, 255);

}

#line-1{
  left: 30.1vw;
}

#line-2{
  left: 36.25vw;
}

#line-3{
  left: 42.25vw;
}

#line-4{
  left: 48.25vw;
}

#line-5{
  left: 54.25vw;
} */

/* #label-z9, #label-z11, #label-z13, #label-z15, #label-z17{
  position: absolute;
  font-size: 1.2vw;
  font-weight: 400;
  top: 5.80vw;
  letter-spacing: 1px;
  color: white;
} */

#label-z9, #label-z11, #label-z13, #label-z15, #label-z17{
  position: absolute;
  height: 0.8vw;
  width: auto;
  top: 7vw;
}

#label-z9{
  left: 29vw;
}

#label-z11{
  left: 38.95vw;
}

#label-z13{
  left: 48.25vw;
}

#label-z15{
  left: 57.25vw;
}

#label-z17{
  left: 65.5vw;
}

/* #label-25_4, #label-25_5{
  position: absolute;
  font-size: 1.20vw;
  font-weight: 400;
  top: 7vw;
  letter-spacing: 1px;
  color: white;
} */

#label-25_4, #label-25_5{
  position: absolute;
  top: 7vw;
  height: 0.8vw;
  width: auto;
}

#label-25_4{
  left: 62.5vw;
}

#label-25_5{
  left: 70.1vw;
}

#sidebarTrack {
  position: absolute;
  left: 0.55vw;
  width: 14vw;
  height: 46vw;
  z-index: 97;
}

#sidebarSplit {
  position: absolute;
  /*top: 5.75vw;*/
  left: 0.5vw;
  width: 14vw;
  height: 46vw;
  z-index: 99;
  transition-timing-function: ease;
  transition-duration: 0.8s;
  transition-property : left;
}

#sideTrackLeverUpper {
  position: absolute;
  top: 31.2vw;
  left: 12.4vw;
  width: 2.2vw;
  height: auto;
  z-index: 99;
  transform-origin: 60.37% 25.63%;
  transition-timing-function: ease;
  transition-duration: 0.8s;
  transition-property : transform;
}

#sideTrackLeverLower {
  position: absolute;
  top: 33.6vw;
  left: 12.5vw;
  width: 1.5vw;
  height: auto;
  z-index: 99;
  transition-timing-function: ease;
  transition-duration: 0.8s;
  transition-property : left;
}

#sideTrackControlBox {
  position: absolute;
  top: 30.7vw;
  left: 12.5vw;
  width: 2.1vw;
  height: 2.3vw;
  z-index: 98;
}

#sideTrackBox {
  position: absolute;
  top: 30.5vw;
  left: 4.25vw;
  width: 7vw;
  height: 8.5vw;
  z-index: 100;
}

/*#upperL7KeyHolder5 {
  position: absolute;
  width: 8vw;
  height: auto;
  top: 35vw;
  left: 3.55vw;
}*/

/*#upperL7Key5 {
  top: 39vw;
  left: 8.5vw;
}*/

.dragEnabled {
  -webkit-user-drag: auto;
}

#ellipse{
  position: absolute;
  height: 1vw;
  width: auto;
  top: 4.5vw;
  left: 41.9vw;
}

#label-fa{
  position: absolute;
  height: 0.45vw;
  width: auto;
  top: 4.75vw;
  left: 42.05vw;
}

#curly_brace{
  position: absolute;
  top: 11.1vw;
  left: 30vw;
  width: 10vw;
  height: auto;
}

/* #label-brace{
  position: absolute;
  font-size: 0.5vw;
  font-weight: 400;
  top: 11.1vw;
  left: 28vw;
  color: white;
} */

#label-brace{
  position: absolute;
  top: 11.59vw;
  left: 33.8vw;
  height: 0.75vw;
  width: auto;
}

#upperL3KeyAN, #upperL4KeyAN, #upperL5Key5N, #upperL5Key5, #upperL6Key5, /*#upperL7Key5,*/
#lowerL2KeyAN, #lowerL3Key5R, #lowerL4Key6N, #lowerL4Key5N, #lowerL5Key5R, #lowerL5Key5, #lowerL3Key6N, #lowerL6Key6N {
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-property : transform;
  position: absolute;
  width: 14%;
  height: auto;
}

.customWidth1{
  width: 110%;
  height: 100;
}

#label-z_13,#label-z_15,#label-z_17{
  position: absolute;
  height: 0.8vw;
  width: auto;
}

#label-z_13
{
  top: 4.80vw;
  left: 47.1vw;
}

#label-z_15
{
  top: 4.80vw;
  left: 66.1vw;
}

#label-z_17
{
  top: 0.4vw;
  left: 66.1vw;
}

/* #label-25_4_track, #label-25_5_track{
  position: absolute;
  font-size: 1.10vw;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
} */

#label-25_4_track, #label-25_5_track{
  position: absolute;
  height: 0.8vw;
  width: auto;
}

#label-25_4_track{
  top: 0vw;
  /* transform: translateY(-50%); */
  left: 73.75vw;
}

#label-25_5_track{
  top: 4.4vw;
  left: 73.75vw;
}

#label-1, #label-3{
  position: absolute;
  height: 0.8vw;
  width: auto;
}

#label-1 {
  top: 5.25vw;
  left: 77vw;
}

#label-3 {
  top: 0.7vw;
  left: 77vw;
}

#emergency-box{
  background-color: white;
  width: 10vw;
  height: 12vw;
}

/*#emergency-box:hover{
  transform: scale(1.02);
}*/

.disableLever{
  /* pointer-events: none; */
}

#emergency-button-ferm{
   top: 1.3vw;
   left: 0.5vw;
   transition-duration: 0.2s;
   transition-timing-function: ease;
   transition-property : transform;
   position: absolute;
   width: 15.5%;
   height: auto;
}

#emergency-button-ferm:hover{
  transform: scale(1.1);
}

#emergency-button-annu{
   top: 1.3vw;
   left: 7vw;
   transition-duration: 0.2s;
   transition-timing-function: ease;
   transition-property : transform;
   position: absolute;
   width: 15.5%;
   height: auto;
}

#emergency-button-annu:hover{
  transform: scale(1.1);
}