@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  font-family: 'Poppins', sans-serif;
   -webkit-user-drag: none;
   user-select: none;
}

#tracklight1{
  position: absolute;
  top: 9.85vw;
  left: 43.90vw;
  height: auto;
  width: 11%;
}

#tracklight2{
  position: absolute;
  top: 9.85vw;
  left: 54.42vw;
  height: auto;
  width: 11%;
}

#tracklight3{
  position: absolute;
  top: 5.06vw;
  left: 54.42vw;
  height: auto;
  width: 11%;
}

#train {
  position: absolute; 
  width: 50%;
  height: 10%;
  visibility: hidden;
  transition-duration: 0.8s;
  transition-timing-function: ease-in;
  transition-property : left transform top;
}

#upperKeySet2, #upperKeySet3, #upperKeySet4, #upperKeySet5, #upperKeySet6,
#lowerKeySet2, #lowerKeySet3, #lowerKeySet4, #lowerKeySet5, #lowerKeySet6{
  position: relative;
  margin: 0;
  padding: 0;
}

#upperL6Key5 {
  position: absolute;
  width: 6.5%;
  height: auto;
}

.upperL6Key5-initial {
  top: 2.5vw;
  left: 7.2vw;
}

.upperL6Key5-changed {
  top: 2.35vw;
  left: 6.75vw;
}

#lowerL6Key6N {
  position: absolute;
  width: 6.5%;
  height: auto;
}

.lowerL6Key6N-initial {
  top: 2.6vw;
  left: 7.05vw;
}

.lowerL6Key6N-changed {
  top: 2.5vw;
  left: 6.6vw;
}

#upperL5Key5 {
  position: absolute;
  width: 7%;
  height: auto;
}

.upperL5Key5-initial {
  top: 2.6vw;
  left: 5.5vw;
}

.upperL5Key5-changed {
  top: 2.45vw;
  left: 5.1vw;
}

#upperL5Key5N {
  position: absolute;
  width: 7%;
  height: auto;
}

.upperL5Key5N-initial {
  top: 2.6vw;
  left: 8.65vw;
}

.upperL5Key5N-changed {
  top: 2.45vw;
  left: 8.1vw;
}

#lowerL5Key5 {
  position: absolute;
  width: 7%;
  height: auto;
}

.lowerL5Key5-initial {
  top: 2.6vw;
  left: 5.5vw;
}

.lowerL5Key5-changed {
  top: 2.4vw;
  left: 5.1vw;
}

#lowerL5Key5R {
  position: absolute;
  width: 7%;
  height: auto;
}

.lowerL5Key5R-initial {
  top: 2.6vw;
  left: 8.65vw;
}

.lowerL5Key5R-changed {
  top: 2.4vw;
  left: 8.1vw;
}

#upperL4KeyAN {
  position: absolute;
  width: 6.5%;
  height: auto;
}

.upperL4KeyAN-initial {
  top: 2.55vw;
  left: 7.1vw;
}

.upperL4KeyAN-changed {
  top: 2.4vw;
  left: 6.6vw;
}

#lowerL4Key5N {
  position: absolute;
  width: 7%;
  height: auto;
}

.lowerL4Key5N-initial {
  top: 2.6vw;
  left: 5.5vw;
}

.lowerL4Key5N-changed {
  top: 2.45vw;
  left: 5.1vw;
}

#lowerL4Key6N {
  position: absolute;
  width: 7%;
  height: auto;
}

.lowerL4Key6N-initial {
  top: 2.6vw;
  left: 8.65vw;
}

.lowerL4Key6N-changed {
  top: 2.45vw;
  left: 8.15vw;
}

#upperL3KeyAN {
  position: absolute;
  width: 6.5%;
  height: auto;
}

.upperL3KeyAN-initial {
  top: 2.6vw;
  left: 7.1vw;
}

.upperL3KeyAN-changed {
  top: 2.4vw;
  left: 6.6vw;
}

#lowerL3Key5R {
  position: absolute;
  width: 7%;
  height: auto;
}

.lowerL3Key5R-initial {
  top: 2.6vw;
  left: 5.5vw;
}

.lowerL3Key5R-changed {
  top: 2.4vw;
  left: 5.15vw;
}

#lowerL3Key6N {
  position: absolute;
  width: 7%;
  height: auto;
}

.lowerL3Key6N-initial {
  top: 2.6vw;
  left: 8.65vw;
}

.lowerL3Key6N-changed {
  top: 2.4vw;
  left: 8.15vw;
}

#lowerL2KeyAN {
  position: absolute;
  width: 6.25%;
  height: auto;
}

.lowerL2KeyAN-initial {
  top: 2.6vw;
  left: 7.1vw;
}

.lowerL2KeyAN-changed {
  top: 2.4vw;
  left: 6.65vw;
}

.track-base {
  height: 23vw;
  width: auto;
  position: relative;
  margin: 0;
  padding: 0;
}

#straight {
  position: relative;
  display: block;
  height: auto;
  width: 40vw;
  top: 6.5vw;
  left: 4vw;
}

#split {
  position: absolute;
  top: 4.15vw;
  left: 44.25vw;
  /* top: 8.25vw; */
  /* left: 50.25vw; */
  height: auto;
  width: 25%;
}

#up {
  position: absolute;
  /* top: 5.75vw;
  left: 60vw; */
  top: 1.55vw;
  left: 54.75vw;
  height: auto;
  width: 50%;
}

#down {
  position: absolute;
  /* top: 10.75vw;
  left: 60vw; */
  top: 6.8vw;
  left: 54.75vw;
  height: auto;
  width: 50%;
}

#led-a1 {
  position: absolute;
  top: 8.25vw;
  left: 22vw;
  height: auto;
  width: 11%;
}

#led-111 {
  position: absolute;
  top: 8.75vw;
  left: 41.15vw;
  height: auto;
  width: 8%;
}

#led-5v6 {
  position: absolute;
  top: 9.20vw;
  left: 47.75vw;
  height: auto;
  width: 9%;
}

#led-25_4 {
  position: absolute;
  top: 3vw;
  left: 64.30vw;
  height: auto;
  width: 15%;
}

#led-25_5 {
  position: absolute;
  top: 7.75vw;
  left: 64vw;
  height: auto;
  width: 15%;
}

#led-zap {
  position: absolute;
  top: 8.5vw;
  left: 39vw;
  height: auto;
  width: 9%;
}

#led-annonce {
  position: absolute;
  top: 3.5vw;
  left: 17.5vw;
  height: auto;
  width: 12%;
}

#led-awa {
  position: absolute;
  top: 2vw;
  left: 29.80vw;
  height: auto;
  width: 10%;
}

#start {
  position: absolute;
  font-weight: 500;
  font-size: 1.25vw;
  color: white;
  letter-spacing: 0.15vw;
  top: 8.75vw;
  left: 6.75vw;
}

#end {
  position: absolute;
  font-weight: 200;
  font-size: 1vw;
  color: white;
  letter-spacing: 1px;
  top: 7.25vw;
  left: 69.25vw;
}

#label-a1, #label-zap, #label-111, #label-5v6, #label-annonce, #label-awa {
  position: absolute;
  font-weight: 400;
  font-size: 0.75vw;
  color: white;
  letter-spacing: 1px;
}

#label-a1 {
  top: 7.50vw;
  left: 24.70vw;
}

#label-zap {
  font-size: 0.75vw;
  font-weight: 200;
  top: 8.15vw;
  left: 39.90vw;
}

#label-111 {
  font-size: 0.75vw;
  font-weight: 200;
  top: 8.25vw;
  left: 42.35vw;
  letter-spacing: 0.2vw;
}

#label-5v6 {
  font-size: 0.80vw;
  font-weight: 300;
  top: 12vw;
  left: 48.75vw;
  letter-spacing: 1px;
  color: goldenrod;
}

#label-annonce {
  top: 3.25vw;
  left: 18vw;
}

#label-awa {
  top: 1.5vw;
  left: 31vw;
}

#switch-z9, #switch-z11, #switch-z13, #switch-z15, #switch-z17, #switch-25_4, #switch-25_5{
  position: absolute;
  top: 16vw;
  height: auto;
  width: 4.5%;
}

#switch-z9{
  left: 30vw;
}

#switch-z11{
  left: 36vw;
}

#switch-z13{
  left: 42vw;
}

#switch-z15{
  left: 48vw;
}

#switch-z17{
  left: 54vw;
}

#switch-25_4{
  left: 60vw;
}

#switch-25_5{
  left: 66vw;
}

#label-bp_an {
  position: absolute;
  font-size: 0.8vw;
  color: white;
  font-weight: 300;
  top: 13.65vw;
  left: 23.95vw;
}

#line-0 {
  position: absolute;
  height: 1px;
  width: 1.5vw;
  top: 15.5vw;
  left: 24.4vw;
  background: white;
}

#Bp_An {
  position: absolute;
  top: 16.15vw;
  left: 24.55vw;
  height: auto;
  width: 1.25vw;
}

#label-occupee_1, #label-occupee_2, #label-occupee_3, #label-occupee_4, #label-occupee_5, #label-occupee_6, #label-occupee_7{
  position: absolute;
  font-size: 1vw;
  font-weight: 300;
  top: 18vw;
  letter-spacing: 1px;
  color: white;
}

#label-occupee_1{
  left: 28.75vw;
}

#label-occupee_2{
  left: 34.75vw;
}

#label-occupee_3{
  left: 40.75vw;
}

#label-occupee_4{
  left: 46.75vw;
}

#label-occupee_5{
  left: 52.75vw;
}

#label-occupee_6{
  left: 58.75vw;
}

#label-occupee_7{
  left: 64.75vw;
}

#label-libre_1, #label-libre_2, #label-libre_3, #label-libre_4, #label-libre_5{
  position: absolute;
  font-size: 0.8vw;
  font-weight: 300;
  top: 14.25vw;
  letter-spacing: 1px;
  color: white;
}

#label-libre_1{
  left: 29.90vw;
}

#label-libre_2{
  left: 35.90vw;
}

#label-libre_3{
  left: 41.90vw;
}

#label-libre_4{
  left: 47.90vw;
}

#label-libre_5{
  left: 53.90vw;
}

#line-1, #line-2, #line-3, #line-4, #line-5 {
  position: absolute;
  height: 1px;
  width: 1.2vw;
  top: 14.75vw;
  background: rgb(255, 255, 255);

}

#line-1{
  left: 30.25vw;
}

#line-2{
  left: 36.25vw;
}

#line-3{
  left: 42.25vw;
}

#line-4{
  left: 48.25vw;
}

#line-5{
  left: 54.25vw;
}

#label-z9, #label-z11, #label-z13, #label-z15, #label-z17{
  position: absolute;
  font-size: 0.8vw;
  font-weight: 300;
  top: 13vw;
  letter-spacing: 1px;
  color: white;
}

#label-z9{
  left: 30.18vw;
}

#label-z11{
  left: 36.18vw;
}

#label-z13{
  left: 42.18vw;
}

#label-z15{
  left: 48.18vw;
}

#label-z17{
  left: 54.18vw;
}

#label-25_4, #label-25_5{
  position: absolute;
  font-size: 0.8vw;
  font-weight: 300;
  top: 14.2vw;
  letter-spacing: 1px;
  color: white;
}

#label-25_4{
  left: 60.25vw;
}

#label-25_5{
  left: 66.25vw;
}

#sidebarTrack {
  width: 100vw;
  height: 40vw;
}

#sidebarSplit {
  position: absolute;
  top: 7vw;
  left: 9vw;
  width: 9vw;
  height: auto;
  transition: ease-in 0.8s;
}

#upperL7KeyHolder5 {
  position: absolute;
  width: 5vw;
  height: auto;
  top: 40vw;
  left: 10.2vw;
}

#upperL7Key5 {
  position: absolute;
  top: 43.75vw;
  left: 13.55vw;
  width: 5.75%;
  height: auto;
}

.dragEnabled {
  -webkit-user-drag: auto;
}


#curly_brace{
  position: absolute;
  top: 20vw;
  left: 30vw;
  width: 20%;
  height: 5%;
}

#label-brace{
  position: absolute;
  font-size: 0.8vw;
  font-weight: 300;
  top: 21vw;
  left: 32.5vw;
  letter-spacing: 1px;
  color: white;
}